.main {
    width: 100%;
    height: calc(100dvh - 76px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0b0b0b;
}

.logoContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero {
    max-width: 480px;
    object-fit: contain;
    width: auto;
    height: auto;
}

.title {
    color: #fbfbfb;
    text-align: center;
    margin: 28px;
    line-height: 1.5;
}

.infoContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box {
    background-color: #fbfbfb;
    padding: 14px 44px;
    border-radius: 4px;
    transition: all 0.5s ease;
}

.box:hover {
    transform: scale(1.08);
}

@media screen and (max-width: 580px) {
    .hero {
        max-width: 80%;
    }

    .title {
        font-size: 24px;
    }

    .infoContent {
        flex-direction: column;
    }

    .box {
        width: 80%;
        margin-bottom: 14px;
        text-align: center;
    }
}
